In [21]:
import numpy as np
import mne
import matplotlib.pyplot as plt

In [11]:
raw_data = mne.io.read_raw_eeglab('data/ds004504/derivatives/sub-002/eeg/sub-002_task-eyesclosed_eeg.set')

/var/folders/42/2zjv5vys3693nls8j787kc2c0000gn/T/ipykernel_1442/2097649088.py:1: RuntimeWarning: Data will be preloaded. preload=False or a string preload is not supported when the data is stored in the .set file
  raw_data = mne.io.read_raw_eeglab('data/ds004504/derivatives/sub-002/eeg/sub-002_task-eyesclosed_eeg.set')

The above command reads the EEG of one of the participant and stores in raw_data. As you can see below, it has information about all the different channels

In [8]:
print(raw_data.info)

<Info | 8 non-empty values
 bads: []
 ch_names: Fp1, Fp2, F3, F4, C3, C4, P3, P4, O1, O2, F7, F8, T3, T4, T5, ...
 chs: 19 EEG
 custom_ref_applied: False
 dig: 22 items (3 Cardinal, 19 EEG)
 highpass: 0.0 Hz
 lowpass: 250.0 Hz
 meas_date: unspecified
 nchan: 19
 projs: []
 sfreq: 500.0 Hz
>

The following command splits the data for each channel into 4s epochs and then puts the time series into a Pandas dataframe.

In [54]:
epochs = mne.make_fixed_length_epochs(raw_data, duration = 4.0)
dfsub_002 = epochs.to_data_frame()
dfsub_002.head(5)

Not setting metadata
198 matching events found
No baseline correction applied
0 projection items activated
Using data from preloaded Raw for 198 events and 2000 original time points ...
0 bad epochs dropped

,time,condition,epoch,Fp1,Fp2,F3,F4,C3,C4,P3,...,O2,F7,F8,T3,T4,T5,T6,Fz,Cz,Pz
0,0.000,1,0,-13.547649,-12.982911,-12.864223,-15.478166,-14.479111,-13.763200,-12.896243,...,-16.251282,-9.170815,-11.719826,-9.477215,-6.309359,-10.844630,-7.522885,-15.836512,-15.057594,-12.018927
1,0.002,1,0,-11.324695,-11.243111,-11.418202,-12.831456,-12.530659,-12.309750,-12.009327,...,-14.584904,-7.110390,-10.089147,-8.760719,-5.919376,-9.493101,-5.622316,-13.545528,-13.018900,-9.939910
2,0.004,1,0,-9.635249,-10.635274,-10.457741,-10.389472,-11.389046,-11.383709,-12.108236,...,-13.933581,-6.229019,-9.643548,-9.435384,-6.802406,-9.423115,-4.885856,-11.946328,-11.653879,-8.870527
3,0.006,1,0,-8.576221,-11.317549,-10.057194,-8.279247,-11.209035,-11.001395,-13.207009,...,-14.381600,-6.587485,-10.475169,-11.520432,-8.884608,-10.655966,-5.338573,-11.223301,-11.189719,-9.020758
4,0.008,1,0,-8.057809,-13.146663,-10.146156,-6.540730,-11.932675,-11.040858,-15.070707,...,-15.741675,-7.928393,-12.354836,-14.667753,-11.788962,-12.898231,-6.705518,-11.340232,-11.648218,-10.308544

In [49]:
dfsub_002.columns

Index(['time', 'condition', 'epoch', 'Fp1', 'Fp2', 'F3', 'F4', 'C3', 'C4',
       'P3', 'P4', 'O1', 'O2', 'F7', 'F8', 'T3', 'T4', 'T5', 'T6', 'Fz', 'Cz',
       'Pz'],
      dtype='object')

In [52]:
dfsub_002.tail(5)

,time,condition,epoch,Fp1,Fp2,F3,F4,C3,C4,P3,...,O2,F7,F8,T3,T4,T5,T6,Fz,Cz,Pz
395995,3.990,1,197,-21.819056,-22.328857,-19.447477,-26.485651,-11.283259,-13.529193,-4.837214,...,-4.455467,-11.752207,-21.126940,-14.208671,-21.049372,-7.340517,-13.834558,-24.980738,-19.535419,-10.481638
395996,3.992,1,197,-22.611942,-21.100508,-18.375395,-24.868990,-10.531390,-11.869723,-3.100854,...,-1.626315,-11.421433,-20.645124,-13.593284,-19.688271,-5.018816,-10.426453,-24.391911,-18.662691,-8.371534
395997,3.994,1,197,-22.718174,-19.816267,-17.428555,-22.230835,-10.043894,-9.742514,-1.475621,...,1.349514,-10.907035,-19.705156,-12.800926,-17.821352,-2.890461,-6.844408,-23.278912,-17.493382,-5.787414
395998,3.996,1,197,-22.062880,-18.503338,-16.652090,-18.985363,-9.724533,-7.267050,0.088731,...,4.515346,-10.181273,-18.258261,-11.728519,-15.456060,-0.906967,-3.088319,-21.651875,-16.022799,-2.818439
395999,3.998,1,197,-20.658010,-17.177202,-16.012094,-15.644002,-9.438540,-4.580357,1.641738,...,7.897462,-9.245910,-16.340948,-10.340248,-12.700933,1.003002,0.829625,-19.567488,-14.274794,0.388144